# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Pods/

# IDE
**/.idea/
**/*.iml
**/.vscode/

# OS
**/.DS_Store
**/Thumbs.db

# Only track lib/, pubspec.yaml, analysis_options.yaml